<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/index.css">
    <title><%= game_name %> | Question <%= brick_multiple %></title>
  </head>
  <body>
    <section class="Banner">
      <div class="Banner__image">
        <img src="/img/bloqs-banner-temp.jpg" alt="<%= game_name %> Banner Image">
      </div>
      <div class="Banner__text">
        <h1><%= game_name.toUpperCase() %></h1>
        <p>Question <%= brick_multiple %>  |  A Constructor for Relationships</p>
      </div>
    </section>
    <nav class="Nav">
      <ul>
        <span class="Nav--logo">
          <a href="#">
            <li title="<%= game_name %> Home">
              <% include ./partials/svg/bloqs-logo.svg %>
              ubes
            </li>
          </a>
        </span>
        <span class="Nav--items">
          <a href="#about">
            <li title="About the project">
                About
            </li>
          </a>
          <a href="#prison_and_family">
            <li title="The issue to tackle">
              The Problem
            </li>
          </a>
          <!-- <a>
            <li title="Game in prison environments">
                Prison
            </li>
          </a> -->
          <a href="#onion_theory">
            <li title="Social Penetration Theory">
              Onion Theory
            </li>
          </a>
          <a href="#futures">
            <li title="Future development possibilities">
              Futures
            </li>
          </a>
          <!-- <li title="Design Against Crime"><a>DAC</a></li> -->
          <a href="#contact">
            <li title="Contact / Update Info">
              Contact
            </li>
          </a>
        </span>
        <button class="Nav__toggle">
          <span class="Nav__toggle__icon">
            <span class="Nav__toggle--bar top"></span>
            <span class="Nav__toggle--bar middle"></span>
            <span class="Nav__toggle--bar bottom"></span>
          </span>
        </button>
      </ul>
    </nav>
    <section class="About" id="about">
      <div class="About__flex">
        <div class="About__flex__section image">
          <img src="/img/bloqs-contruct-in-play.png" alt="The <%= brick_multiple %> game in play" class="About__main_image">
        </div>
        <div class="About__flex__section text">
          <h2>Question <%= brick_multiple %></h2>
          <p class="first"><%= game_name %> is a group stacking game with questions, the culmination of a project designed to build communication and strengthen relationships between incarcerated fathers and their children.</p>
          <p>In a time of rising prison population, deteriorating conditions and health, and the host of problems which feed into loops of deprivation and crime.</p>
          <p>Extending the category of Social Games, <%= game_name %> was inspired by Captivated, a project South Denmark University’s Social Games Against Crime team which sought to tackle the same issue of parental alienation in prison.</p>
          <p><a href="/dev/placeholder">Read more about why Captivated worked here.</a></p>
        </div>
      </div>
    </section>
    <section class="Gameplay">
      <h2>Gameplay</h2>
      <div class="Gameplay__grid">
        <div class="Gameplay__grid--one image">
          <img src="/img/instructions-one.png" alt="Game instructions one, image of hand taking <%= brick_single %> from the stack">
        </div>
        <div class="Gameplay__grid--one text">
          <h4>1) Take</h4>
          <p>The game works by players successively taking a brick out, without nocking the stack over.</p>
          <p>Players can use only one hand and cannot hold the stack, the player that crashes it loses all their points.</p>
        </div>
        <div class="Gameplay__grid--two text">
          <h4>2) Answer</h4>
          <p>Each brick, called <%= brick_prefix %> <%= brick_single %>, has two prompts written on it corresponding to a difficulty scale and level of intimacy intended to be invoked.</p>
          <p>The player picks a prompt, in one game mode the player answers the prompt themselves, in another you ask the next person and they respond.</p>
        </div>
        <div class="Gameplay__grid--two image">
          <img src="/img/instructions-two.png" alt="Game instructions two, image of someone holding <%= brick_prefix %> <%= brick_single %> to considder it's prompt">
        </div>
        <div class="Gameplay__grid--three image">
          <img src="/img/instructions-three.png" alt="Game instructions three, image of someone placing the <%= brick_single %> bcak on the stack">
        </div>
        <div class="Gameplay__grid--three text">
          <h4>3) Build</h4>
          <p>On successful answering of the question (judged by the consensus of the other players), the person receives in game currency, called ‘Squids’, corresponding with the colour / difficulty.</p>
          <p>If the player does not answer, they get no points and the round moves on. The player who pulled the brick must place it back on top, building a gradually more unstable stack until the game is over.</p>
        </div>
      </div>
    </section>
    <section class="Prison" id="prison_and_family">
      <div class="Prison__grid">
        <h2>Prison and Family</h2>
        <div class="Prison__text">
          <p class="primary">It is no secret that the Prison system in the uk has much to improve, and often fails the ideal of rehabilitation. </p>
          <p class="primary">When opportunities are missing and rehabilitation is not an option, incarceration can feed into a vicious cycle of crime, anti-social behaviour and derivation.</p>
          <p>One key area identified as being a major component in this was the role of relationships between incarcerated fathers and their children. Children and adolescents with stronger connections to their parents are far less likely to suffer health issues, do well in school and avoid crime than those who’s relationship breaks down.</p>
          <p>In their younger years, kids will be brought to visit with relatives, as adults they understand the importance of visiting themselves. Its in their teen years that people begin to drift apart and people stop visiting.</p>
          <!-- <p>Captivated was a project led by social designers Eva Knutz and Thomas Markussen of The Social Games against Crime at South Denmark University, which successfully sought to tackle this issue through a Social Game.</p> -->
          <!-- <p>With the stark differences between Danish and UK prisons and society, <%= game_name %> sought to replicate this success and make something uniquely suited to the UK prison system.</p> -->
          <p><%= game_name %> was designed in response to this issue: <strong>How can we, assuming no radical change in incarceration trends, help incarcerated fathers reconnect and maintain connections with their children on the outside.</strong></p>
        </div>
      </div>
    </section>
    <section class="Onion_Theory" id="onion_theory">
      <div class="Onion_Theory__head">
        <h2>Social Penetration Theory | The Onion Theory</h2>
        <p>Social Penetration Theory, often referred to as The Onion Theory, is a theory of interpersonal communication and relationship that seeks to describe how relationships move from weak and relatively shallow, to deeper and more intimate connections.</p>
        <p>Onion theory proposes that relationship development occurs primarily thorough self-disclosure and intentionally revealing personal information. Through this, relationships move between ‘layers’ of deepness or intimacy. Likewise, as individuals grow apart, they move ‘back up’ through the layers as the personal information they once shared is no longer accurate / meaningful.</p>
        <p>The metaphor of an onion is used to describe these levels and the ‘jumping’ between layers that occurs.</p>
      </div>
      <div class="Onion_Theory__diagram" id="Onion_Theory__diagram">
        <div class="Onion_Theory__diagram__container" id="Onion_Theory__diagram__container">
          <% include ./partials/svg/onion-diagram-static.svg %>
        </div>
        <div class="Onion_Theory__diagram__descriptions" id="Onion_Theory__diagram__descriptions">
          <ul class="Onion_Theory__diagram__descriptions__list">
            <li class="show">
              <h3>Level 1: Preferences, likes and dislikes.</h3>
              <p>This level of self-disclosure describes an individual’s taste, preference, biases, and attitudes within varying degrees of social acceptability.</p>
              <p>This includes specific topics, e.g. views on a topical news item, what they choose off a menu, how they rate an art piece and so on.</p>
              <p>But this can also apply to non-specific topics, e.g. what do they like to do with free time, where do they like to visit, what do they talk about with enthusiasm.</p>
              <p>This type of personal information can reveal something about how the person views themselves in relation to the world, how they handle new information and their biases. On a conscious level it lets you relate to their interests and opens the chance to bond over similar preferences.</p>
            </li>
            <li>
              <h3>Level 2: Goals and Aspirations.</h3>
              <p>This level of self-disclosure expands the concept of likes and dislikes into exploring active drives that motivate a person and frame their actions.</p>
              <p>A goal can be something simple or repetitive like, for example, phone your mother at the same time every week, but it can also describe much larger ambitions, for example, career achievements, “bucket lists” of places to visit, or the type of person you wish to present as.</p>
              <p>In knowing this, you gain a picture of what drives a person day-to-day, how they manifest and act on likes, dislikes and how they will respond to events in the future. This can be thought of as the “applied” version of likes and dislikes.</p>
            </li>
            <li>
              <h3>Level 3: Religious and Spiritual Convictions.</h3>
              <p>This level moves to the level of philosophy, ethics, belief and views of existence.</p>
              <p>In understanding this level, we can see what drives a person beyond the literal world, asking how they philosophically approach complex topics, what they believe to be the nature of the universe (if they have a stance) and on what model of ethics they apply to real world issues. </p>
              <p>Even if the individual has given no conscious thought to these intense topics, each of us still maintains an intuitive mode of philosophy, even if by “defaulting” into reflecting the prevailing ethics of their society, which informs their judgment.</p>
            </li>
            <li>
              <h3>Level 4: Deep Fears and Fantasies.</h3>
              <p>Distinct from conscious understandings of preferences and beliefs (regardless of how strong or weak they are), this level describes fundamental fears and dreams pertaining to the world view of an individual.</p>
              <p>These do not always have to be subconscious but very often are. They can describe literal existential events such as fear over climate change or a fantasy of raising a happy family.</p>
              <p>It can also be more vague and philosophical such as a fear that you will live a life of wasted potential or a concept of achieving ultimate happiness.</p>
            </li>
            <li>
              <h3>Level 5: Concept of Self</h3>
              <p>A person’s concept of themselves includes understandings they hold of all the previous levels and more about how they relate their own existence to others. </p>
              <p>In relationship terms, when a relationship develops to the point of sharing concept of selves, a degree of stability has been achieved. The deepest thoughts, beliefs and values are exchanges and highly accurate predictions of emotional state and reactions can be anticipated. </p>
              <p>Individuals will engage in a high degree of sharing and spontaneity, nothing (or very little) is hidden due to the need to protect some aspect of oneself being removed.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="Onion_Theory__foot">
        <p><%= game_name %> uses the Onion Theory as a method of promoting the building and strengthening relationships.</p>
        <p>Its questions are ordered with diffirent colours and points by where they fall on this superficial-deep scale, superficial questions receive few points while deeper questions have more.</p>
        <p>This balance of physical tension, points motivating players to tackle more difficult subjects, allows the gameplay to prompt users to move between them as necessary.</p>
      </div>
    </section>
    <section class="Futures" id="futures">
      <div class="Futures__grid">
        <div class="Futures__grid__title">
          <img src="/img/bloqs-logo-variant-arrow__white.png" alt="<%= game_name %> logo with an arrow">
          <h2>Futures.</h2>
        </div>
        <div class="Futures__grid__text">
          <div class="Futures__grid__text--inner">
            <span>
              <p>When South Denmark University’s Social Games Against Crime team developed Captivated they did so over 3 years with full research funding from TrygFonden and were able to design and test a complete outcome currently being used in the Danish prison system.</p>
              <p><%= game_name %> was developed without funding in under 6 months.</p>
              <p>As such, while the outcome is functional, it did not have access to some of the research and professional links needed to make it air-tight. Design Against Crime is in the process of perusing a research grant in order to take <%= game_name %> to the next level. This would involve: </p>
            </span>
            <ul class="Futures__grid__text--bullet-list">
              <li>1) Working more with children and young adults of the affected groups.</li>
              <li>2) Building new prompts from the ground up with child-psychologists.</li>
              <li>3) Investigating the possibility of manufacturing the unit in prison and inmate customisation.</li>
              <li>4) Trial deployments and evaluations in prison working with the MOJ.</li>
              <li>5) Physical design changes to optimise materials, packaging and branding.</li>
              <li>6) Investigating the possibility of ‘versions’ suited for specific contexts and user needs.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="Contact" id="contact">
      <div class="Contact__grid">
        <div class="Contact__grid__info">
          <h2>Contact</h2>
          <h3><%= game_name %> was developed by the Design Against Crime Research Centre, Central Saint Martins, University of the Arts London.</h3>
          <div class="Contact__grid__info--email">
            <a href="mailto:r.veitch@arts.ac.uk"><i class="fa fa-envelope"></i> Get in Touch</a>
          </div>
          <p class="Contact__grid__info--share_label">In partnership with the Social Design Research Group, Department of Design & Communication / SDU.</p>
          <div class="Contact__grid__info--logos">
            <div>
              <a href="http://www.designagainstcrime.com/">
                <img src="/img/dac-logo-primary.png" alt="Design Against Crime Logo" />
              </a>
            </div>
            <div>
              <a href="https://www.arts.ac.uk/research">
                <img src="/img/ual-logo-research.png" alt="UAL Research Logo" />
              </a>
            </div>
            <div>
              <a href="https://www.gov.uk/government/organisations/ministry-of-justice">
                <img src="/img/moj-logo-primary.png" alt="Ministry of Justice Logo" />
              </a>
            </div>
            <div>
              <a href="http://socialdesignunit.org/">
                <img src="/img/sdu-logo-primary.png" alt="SDU Logo" />
              </a>
            </div>
          </div>
          <p class="Contact__grid__info--share_label">Share this Page:</p>
          <div class="Contact__grid__info--share">
            <a href="https://twitter.com/intent/tweet?text=<%= location %> A Social Game to help incarcerated fathers reconnect with their kids. -By Design Against Crime https://designagainstcrime.com/" class="social twitter" title="Share on Twitter" target="_blank"><i class="fab fa-3x fa-twitter"></i></a>
            <a href="https://www.facebook.com/sharer.php?u=<%= location %>" class="social facebook" title="Share on Facebook" target="_blank"><i class="fab fa-3x fa-facebook"></i></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= location %>&title=Bloqs Question Blocks&summary=A Social Game to help incarcerated fathers reconnect with their kids. -By Design Against Crime" class="social linkedin" title="Share on Linkedin" target="_blank"><i class="fab fa-3x fa-linkedin"></i></a>
            <button class="social link" title="Copy Link" target="_blank" data-link="<%= location %>"><i class="fas fa-3x fa-link"></i></button>
          </div>
          <div class="notifier" hidden>
            <p>Copied: "<span><%= location %></span>" to clipboard.</p>
          </div>
        </div>
        <div class="Contact__grid__updates">
          <h2>Updates</h2>
          <hr />
          <% if (updates) { %>
            <% updates.forEach(each => { %>
              <div class="Update">
                <h3><%= each.title %></h3>
                <img src="<%= each.header.src %>" alt="<%= each.header.alt %>">
                <p><%= each.preview %></p>
              </div>
            <% }) %>
          <% } else { %>
            <p><em>Check back here for news and updates in the future</em></p>
          <% } %>
        </div>
      </div>
      <!-- <div class="Contact__dac">
        <h3>Design Against Crime</h3>
        <div class="Contact__dac__grid">
          <div>

          </div>
          <div>

          </div>
        </div>
      </div> -->
    </section>
    <section style="height: 300vh; background: #3e3e3e;">
    </section>
  </body>
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/onion_graph.js"></script>
</html>
